.card{
    width:"160" !important;
    height:"230"
}


.cardName{
    text-align: left;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical; */
    width:160px ;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.chip{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    
}